<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>tech.dojojin.vigilpm2</string>
	<key>CFBundleName</key>
	<string>VigilPM2</string>
	<key>CFBundleExecutable</key>
	<string>VigilPM2</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Vigil Platform ต้องเข้าถึง LAN เพื่อเชื่อมต่อกล้องวงจรปิด (RTSP/HTTP) บน camera subnet</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_ssh._tcp</string>
	</array>
</dict>
</plist>
